<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <File name="CRUDtask" fileName="E:\Bharat Sir\Jay Jiyani\CRUDtask\logs\CRUDtask.log">
            <PatternLayout>
                <Pattern>
                    %c %d -  [%M] -(%p) %m %n
                </Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="All">
            <AppenderRef ref="CRUDtask" />
        </Root>
    </Loggers>
</Configuration>
